[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/QR-Code-generator"]
	path = vendor/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
